/* global.css */

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #F1EBDB;
    color: #824D2E;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

nav h1 {
    font-family: 'Chewy', cursive;
    font-size: 36px;
    color: #F0E095;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #F1EBDB;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #F0E095;
}
